In [1]:
# %%
import pandas as pd
#import plotly.express as px
import matplotlib.pyplot as plt
import numpy as np
#import plotly.graph_objects as go
# 출력 제한 해제
# pd.set_option('display.max_columns',None)
# pd.set_option('display.max_rows',None)
# pd.set_option('display.max_seq_items', None)
# pd.options.display.max_colwidth = 100

import warnings
warnings.filterwarnings(action='ignore')

In [2]:
# %%
train = pd.read_csv('./data/train.csv')
test =  pd.read_csv('./data/test.csv')
trade = pd.read_csv('./data/international_trade.csv')

train.head()

,ID,timestamp,item,corporation,location,supply(kg),price(원/kg)
0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0
1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0

In [4]:
item_dict = {
    '감귤' : 'TG',
    '꽃양배추와 브로콜리(broccoli)' : 'BC',
    '순무' : 'RD',
    '당근' : 'CR',
    '양배추' : 'CB'
}

item_list = ['감귤', '꽃양배추와 브로콜리(broccoli)', '순무', '당근', '양배추']
trade['item'] = [item_dict[e] if e in item_list else 'None' for e in trade['품목명']]

In [5]:
# %%
time = pd.to_datetime(train['timestamp'].copy())

train['Date'] = pd.to_datetime(train['timestamp'])
train['week'] = train['Date'].apply(lambda x: x.isocalendar()[1]) # 일요일 제거를 위함
train['day_name'] = train['Date'].dt.day_name()

train['year'] = train['timestamp'].apply(lambda x : int(x[0:4]))
train['month'] = train['timestamp'].apply(lambda x : int(x[5:7]))
train['day'] = train['timestamp'].apply(lambda x : int(x[8:10]))

trade['year'] = trade['기간'].apply(lambda x : int(x[0:4]))
trade['month'] = trade['기간'].apply(lambda x : int(x[5:7]))

In [32]:
# %%
import datetime
import holidays

# %%
#train = train[(train['supply(kg)'] != 0) & (train['supply(kg)'] != 0)] # 이거차이도 큼!!! 거의 rmse 1200에서 680으로 줄어듦. 근데 이건 validation에만이고 test는 이거하면 정반대로됨 ㅠ...

# %%
#시계열 특성을 학습에 반영하기 위해 timestamp를 월, 일, 시간으로 나눕니다
test_re = test.copy()

test_re['year'] = test_re['timestamp'].apply(lambda x : int(x[0:4]))
test_re['month'] = test_re['timestamp'].apply(lambda x : int(x[5:7]))
test_re['day'] = test_re['timestamp'].apply(lambda x : int(x[8:10]))
test_re['Date'] = pd.to_datetime(test_re['timestamp'])
test_re['week'] = test_re['Date'].apply(lambda x: x.isocalendar()[1]) # 일요일 제거를 위함
test_re['day_name'] = test_re['Date'].dt.day_name()


# %%
test_re.head()

,ID,timestamp,item,corporation,location,year,month,day,Date,week,day_name
0,TG_A_J_20230304,2023-03-04,TG,A,J,2023,3,4,2023-03-04,9,Saturday
1,TG_A_J_20230305,2023-03-05,TG,A,J,2023,3,5,2023-03-05,9,Sunday
2,TG_A_J_20230306,2023-03-06,TG,A,J,2023,3,6,2023-03-06,10,Monday
3,TG_A_J_20230307,2023-03-07,TG,A,J,2023,3,7,2023-03-07,10,Tuesday
4,TG_A_J_20230308,2023-03-08,TG,A,J,2023,3,8,2023-03-08,10,Wednesday

In [5]:
# %%
from sklearn.preprocessing import LabelEncoder
train_x = train.drop(columns=['ID', 'timestamp', 'supply(kg)', 'price(원/kg)','Date'])
train_y = train['price(원/kg)']
test_x = test_re.drop(columns=['ID', 'timestamp','Date'])
qual_col = ['item', 'corporation', 'location','day_name']

for i in qual_col:
    le = LabelEncoder()
    train_x[i]=le.fit_transform(train_x[i])
    test_x[i]=le.transform(test_x[i]) #test 데이터에 대해서 fit하는 것은 data leakage에 해당합니다

In [6]:
train_x = pd.concat([train_x, train_y], axis=1)

In [7]:
train_x.head()

   item  corporation  location  week  day_name  year  month  day  price(원/kg)
0     4            0         0     1         5  2019      1    1          0.0
1     4            0         0     1         6  2019      1    2          0.0
2     4            0         0     1         4  2019      1    3       1728.0
3     4            0         0     1         0  2019      1    4       1408.0
4     4            0         0     1         2  2019      1    5       1250.0

In [8]:
test_x.head() #day_name 일치

   item  corporation  location  year  month  day  week  day_name
0     4            0         0  2023      3    4     9         2
1     4            0         0  2023      3    5     9         3
2     4            0         0  2023      3    6    10         1
3     4            0         0  2023      3    7    10         5
4     4            0         0  2023      3    8    10         6

In [17]:
# import pycaret regression and init setup
from pycaret.regression import *

s = setup(train_x, target = 'price(원/kg)', session_id = 123, fold = 20, normalize = True, normalize_method = 'minmax', train_size=0.9) ##nomalize에 robust, zscore 가능
# normalise를 robust, zscore로 하면 rmse 너무 높아짐 (1200 수준). minmax 가 680 수준
#fole 수나 train_size를 바꿔보자

# %%
best_model = compare_models()

In [18]:
llar  = create_model('rf')
predictions = predict_model(llar, data = test_x)

In [19]:
result = pd.concat([test_re, predictions['prediction_label']], axis = 1)

result['answer'] = result['prediction_label'].copy()

del result['timestamp']
del result['item']
del result['corporation']
del result['location']
del result['year']
del result['month']
del result['day']
del result['Date']
del result['week']
del result['day_name']
del result['prediction_label']

In [20]:
for i in range(len(result)):
    if (i-1) % 7 == 0: # 1, 8, 15, 22
        result.iloc[i,-1] = 0

result.head(20)

                 ID   answer
0   TG_A_J_20230304  3775.64
1   TG_A_J_20230305     0.00
2   TG_A_J_20230306  3379.94
3   TG_A_J_20230307  3173.52
4   TG_A_J_20230308  3382.07
5   TG_A_J_20230309  3813.71
6   TG_A_J_20230310  3348.54
7   TG_A_J_20230311  3539.96
8   TG_A_J_20230312     0.00
9   TG_A_J_20230313  3655.10
10  TG_A_J_20230314  3121.94
11  TG_A_J_20230315  3010.66
12  TG_A_J_20230316  4072.08
13  TG_A_J_20230317  5530.49
14  TG_A_J_20230318  4819.85
15  TG_A_J_20230319     0.00
16  TG_A_J_20230320  4939.69
17  TG_A_J_20230321  5385.74
18  TG_A_J_20230322  5100.26
19  TG_A_J_20230323  4592.17

In [21]:
result.to_csv('result1.csv', index = False)