In [2]:
import pandas as pd
#import plotly.graph_objects as go
# 출력 제한 해제
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
pd.set_option('display.max_seq_items', None)
pd.options.display.max_colwidth = 100

import warnings
warnings.filterwarnings(action='ignore')

In [3]:
train = pd.read_csv('train.csv')
test =  pd.read_csv('test.csv')
trade = pd.read_csv('international_trade.csv')

train.head()

,ID,timestamp,item,corporation,location,supply(kg),price(원/kg)
0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0
1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0

In [4]:
time = pd.to_datetime(train['timestamp'].copy())

train['Date'] = pd.to_datetime(train['timestamp'])
train['week'] = train['Date'].apply(lambda x: x.isocalendar()[1]) # 일요일 제거를 위함
train['day_name'] = train['Date'].dt.day_name()

train['year'] = train['timestamp'].apply(lambda x : int(x[0:4]))
train['month'] = train['timestamp'].apply(lambda x : int(x[5:7]))
train['day'] = train['timestamp'].apply(lambda x : int(x[8:10]))

In [5]:
import datetime
import holidays

# 공휴일 정보를 가져옴
holiday_list = holidays.Korea(years=datetime.datetime.now().year)

# train['holiday'] = 0

# # 특정 날짜가 공휴일인지 확인, 일요일 행은 train할때 다 지운다.
# for i in range(len(train)):
#     date = datetime.date(train.iloc[i,-4], train.iloc[i,-3], train.iloc[i,-2])
#     if date in holiday_list:
#         train.iloc[i,-1] = holiday_list[datetime.date(train.iloc[i, -4], train.iloc[i, -3], train.iloc[i, -2])] #공휴일이면 공휴일 이름 넣음

In [6]:
train.head()

,ID,timestamp,item,corporation,location,supply(kg),price(원/kg),Date,week,day_name,year,month,day
0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0,2019-01-01,1,Tuesday,2019,1,1
1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0,2019-01-02,1,Wednesday,2019,1,2
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0,2019-01-03,1,Thursday,2019,1,3
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0,2019-01-04,1,Friday,2019,1,4
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0,2019-01-05,1,Saturday,2019,1,5

In [7]:
#시계열 특성을 학습에 반영하기 위해 timestamp를 월, 일, 시간으로 나눕니다
test_re = test.copy()

test_re['year'] = test_re['timestamp'].apply(lambda x : int(x[0:4]))
test_re['month'] = test_re['timestamp'].apply(lambda x : int(x[5:7]))
test_re['day'] = test_re['timestamp'].apply(lambda x : int(x[8:10]))
test_re['Date'] = pd.to_datetime(test_re['timestamp'])
test_re['week'] = test_re['Date'].apply(lambda x: x.isocalendar()[1]) # 일요일 제거를 위함
test_re['day_name'] = test_re['Date'].dt.day_name()


# test_re['holiday'] = 0

# for i in range(len(test_re)):
#     date = datetime.date(test_re.iloc[i,5], test_re.iloc[i,6], test_re.iloc[i,7])
#     if date in holiday_list:
#         test_re.iloc[i,-1] = holiday_list[datetime.date(test_re.iloc[i, 5], test_re.iloc[i, 6], test_re.iloc[i, 7])] #공휴일이면 공휴일 이름 넣음

In [8]:
test_re.head()

,ID,timestamp,item,corporation,location,year,month,day,Date,week,day_name
0,TG_A_J_20230304,2023-03-04,TG,A,J,2023,3,4,2023-03-04,9,Saturday
1,TG_A_J_20230305,2023-03-05,TG,A,J,2023,3,5,2023-03-05,9,Sunday
2,TG_A_J_20230306,2023-03-06,TG,A,J,2023,3,6,2023-03-06,10,Monday
3,TG_A_J_20230307,2023-03-07,TG,A,J,2023,3,7,2023-03-07,10,Tuesday
4,TG_A_J_20230308,2023-03-08,TG,A,J,2023,3,8,2023-03-08,10,Wednesday

In [11]:
from sklearn.preprocessing import LabelEncoder

# 793점 방법
train_x_regression = train[train['day_name'] != 'Sunday'].copy()

train_x_regression = train_x_regression.drop(columns=['ID', 'timestamp', 'supply(kg)','Date'])

train_x_classification = train.drop(columns=['ID', 'timestamp', 'supply(kg)','Date'])

for k in range(len(train_x_classification)):
    if train_x_classification['price(원/kg)'][k] > 0:
        train_x_classification['price(원/kg)'][k] = 1

test_x = test_re.drop(columns=['ID', 'timestamp','Date'])


qual_col = ['item', 'corporation', 'location','day_name']
#del train_x['holiday']

#train_x = pd.get_dummies(train_x, columns=qual_col, prefix=qual_col)
#test_x = pd.get_dummies(test_x, columns=qual_col, prefix=qual_col)

for i in qual_col:
   le = LabelEncoder()
   train_x_classification[i]=le.fit_transform(train_x_classification[i])
   train_x_regression[i]=le.transform(train_x_regression[i]) # reg는 sunday지웠으니..

   test_x[i]=le.transform(test_x[i]) #test 데이터에 대해서 fit하는 것은 data leakage에 해당합니다
    

# %%
#train_x_regression = pd.concat([train_x_regression, train_y], axis=1)
#train_x_classification = pd.concat([train_x_classification, train_y], axis =1)

In [12]:
from pycaret.classification import *

c = setup(train_x_classification, 
          target = 'price(원/kg)',
          fold = 5, 
          #numeric_features=train_x_classification.columns, 
          session_id = 123, 
          normalize = True, 
          normalize_method = 'minmax', 
          train_size=0.8)

In [13]:
m = compare_models()

Initiated  . . . . . . . . . . . . . . . . . .             20:21:09
Status     . . . . . . . . . . . . . . . . . .  Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Logistic Regression

In [14]:
llar  = create_model('xgboost')
predictions_classfication = predict_model(llar, data = test_x)

In [15]:
from autogluon.timeseries import TimeSeriesDataFrame, TimeSeriesPredictor

train_df = pd.read_csv('train.csv')[['ID','timestamp','supply(kg)', 'price(원/kg)']]
train_df['item_id'] = train_df.ID.str[0:6]
data = TimeSeriesDataFrame(train_df.drop(columns=['ID']))
predictor = TimeSeriesPredictor( 
    prediction_length=28,
    target="price(원/kg)",
    eval_metric="RMSE",
)
# seed 고정
predictor.fit( data, random_seed=42, )
predictor.refit_full()


pred = predictor.predict(data, random_seed=42, )


# submission = pd.read_csv('./sample_submission.csv')
# submission['answer'] = pred.reset_index()['mean']
# submission.loc[ submission['answer'] < 0.0, 'answer'] = 0.0
# submission.to_csv('./dacon_submission.csv', index=False)
# submission

================ TimeSeriesPredictor ================
TimeSeriesPredictor.fit() called
Fitting with arguments:
{'enable_ensemble': True,
 'evaluation_metric': 'RMSE',
 'excluded_model_types': None,
 'hyperparameter_tune_kwargs': None,
 'hyperparameters': 'default',
 'num_val_windows': 1,
 'prediction_length': 28,
 'random_seed': 42,
 'target': 'price(원/kg)',
 'time_limit': None,
 'verbosity': 2}
Provided training data set with 59397 rows, 39 items (item = single time series). Average time series length is 1523.0. Data frequency is 'D'.
=====================================================
Global seed set to 42
AutoGluon will save models to AutogluonModels\ag-20231113_112251\
AutoGluon will gauge predictive performance using evaluation metric: 'RMSE'
	This metric's sign has been flipped to adhere to being 'higher is better'. The reported score can be multiplied by -1 to get the metric value.

Provided dataset contains following columns:
	target:           'price(원/kg)'
	past covariates:  ['supply(kg)']

Starting training. Start time is 2023-11-13 20:22:52
Models that will be trained: ['Naive', 'SeasonalNaive', 'Theta', 'AutoETS', 'RecursiveTabular', 'DeepAR']
Training timeseries model Naive.
	-997.0634     = Validation score (-RMSE)
	1.97    s     = Training runtime
	22.31   s     = Validation (prediction) runtime
Training timeseries model SeasonalNaive.
	-843.9258     = Validation score (-RMSE)
	1.76    s     = Training runtime
	0.50    s     = Validation (prediction) runtime
Training timeseries model Theta.
	-838.8347     = Validation score (-RMSE)
	1.63    s     = Training runtime
	56.14   s     = Validation (prediction) runtime
Training timeseries model AutoETS.
	-797.0592     = Validation score (-RMSE)
	1.63    s     = Training runtime
	25.26   s     = Validation (prediction) runtime
Training timeseries model RecursiveTabular.
	-810.2125     = Validation score (-RMSE)
	8.77    s     = Training runtime
	2.02    s     = Validation (prediction) runtime
Training timeseries model DeepAR.
	-749.4869     = Validation score (-RMSE)
	1527.22 s     = Training runtime
	3.60    s     = Validation (prediction) runtime
Fitting simple weighted ensemble.
	-723.7077     = Validation score (-RMSE)
	13.44   s     = Training runtime
	84.07   s     = Validation (prediction) runtime
Training complete. Models trained: ['Naive', 'SeasonalNaive', 'Theta', 'AutoETS', 'RecursiveTabular', 'DeepAR', 'WeightedEnsemble']
Total runtime: 1671.15 s
Best model: WeightedEnsemble
Best model score: -723.7077
	WARNING: refit_full functionality for TimeSeriesPredictor is experimental and is not yet supported by all models.
Refitting models via `refit_full` using all of the data (combined train and validation)...
	Models trained in this way will have the suffix '_FULL' and have NaN validation score.
	This process is not bound by time_limit, but should take less time than the original `fit` call.
Fitting model: Naive_FULL | Skipping fit via cloning parent ...
Fitting model: SeasonalNaive_FULL | Skipping fit via cloning parent ...
Fitting model: Theta_FULL | Skipping fit via cloning parent ...
Fitting model: AutoETS_FULL | Skipping fit via cloning parent ...
Fitting model: RecursiveTabular_FULL
	9.89    s     = Training runtime
Fitting model: DeepAR_FULL | Skipping fit via cloning parent ...
Fitting model: WeightedEnsemble_FULL | Skipping fit via cloning parent ...
Refit complete. Models trained: ['Naive_FULL', 'SeasonalNaive_FULL', 'Theta_FULL', 'AutoETS_FULL', 'RecursiveTabular_FULL', 'DeepAR_FULL', 'WeightedEnsemble_FULL']
Total runtime: 10.08 s
Updated best model to 'WeightedEnsemble_FULL' (Previously 'WeightedEnsemble'). AutoGluon will default to using 'WeightedEnsemble_FULL' for predict().
Global seed set to 42
Model not specified in predict, will default to the model with the best validation score: WeightedEnsemble_FULL

In [16]:
submission = pd.read_csv('./sample_submission.csv')
submission['answer'] = pred.reset_index()['mean']
submission.loc[ submission['answer'] < 0.0, 'answer'] = 0.0
submission.to_csv('./dacon_submission.csv', index=False)
submission

                   ID       answer
0     TG_A_J_20230304  3266.210242
1     TG_A_J_20230305   591.939461
2     TG_A_J_20230306  3227.345640
3     TG_A_J_20230307  3482.171226
4     TG_A_J_20230308  3398.489916
...               ...          ...
1087  RD_F_J_20230327   514.982850
1088  RD_F_J_20230328   505.644167
1089  RD_F_J_20230329   520.969869
1090  RD_F_J_20230330   515.917611
1091  RD_F_J_20230331   502.287941

[1092 rows x 2 columns]

In [18]:
result = pd.DataFrame()
result['classification'] = predictions_classfication['prediction_label']
result['regression'] = submission['answer']
result.head()

   classification   regression
0               1  3266.210242
1               0   591.939461
2               1  3227.345640
3               1  3482.171226
4               1  3398.489916

In [19]:
answer = list()
for i in range(len(result)):
    if result.iloc[i, 0] == 0:
        answer.append(0)
    else:
        answer.append(result.iloc[i,1])

In [20]:
for i in range(len(answer)):
    if (i-1) % 7 == 0: # 1, 8, 15, 22
        answer[i] = 0

In [21]:
result1 = pd.DataFrame()
result1['ID'] = test['ID']
result1['answer'] = answer

result1.to_csv('result33_1113.csv', index=False)

In [22]:
result1

                   ID       answer
0     TG_A_J_20230304  3266.210242
1     TG_A_J_20230305     0.000000
2     TG_A_J_20230306  3227.345640
3     TG_A_J_20230307  3482.171226
4     TG_A_J_20230308  3398.489916
...               ...          ...
1087  RD_F_J_20230327   514.982850
1088  RD_F_J_20230328   505.644167
1089  RD_F_J_20230329   520.969869
1090  RD_F_J_20230330   515.917611
1091  RD_F_J_20230331   502.287941

[1092 rows x 2 columns]