In [6]:
# %%
import pandas as pd
#import plotly.express as px
import matplotlib.pyplot as plt
import numpy as np
#import plotly.graph_objects as go
# 출력 제한 해제
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
pd.set_option('display.max_seq_items', None)
pd.options.display.max_colwidth = 100

import warnings
warnings.filterwarnings(action='ignore')

In [7]:
# %%
train = pd.read_csv('./data/train.csv')
test =  pd.read_csv('./data/test.csv')
trade = pd.read_csv('./data/international_trade.csv')

train.head()

,ID,timestamp,item,corporation,location,supply(kg),price(원/kg)
0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0
1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0

In [8]:
# %%
time = pd.to_datetime(train['timestamp'].copy())

train['Date'] = pd.to_datetime(train['timestamp'])
train['week'] = train['Date'].apply(lambda x: x.isocalendar()[1]) # 일요일 제거를 위함
train['day_name'] = train['Date'].dt.day_name()

train['year'] = train['timestamp'].apply(lambda x : int(x[0:4]))
train['month'] = train['timestamp'].apply(lambda x : int(x[5:7]))
train['day'] = train['timestamp'].apply(lambda x : int(x[8:10]))

In [9]:
# %%
import datetime
import holidays

# %%
#train = train[(train['supply(kg)'] != 0) & (train['supply(kg)'] != 0)] # 이거차이도 큼!!! 거의 rmse 1200에서 680으로 줄어듦. 근데 이건 validation에만이고 test는 이거하면 정반대로됨 ㅠ...

# %%
#시계열 특성을 학습에 반영하기 위해 timestamp를 월, 일, 시간으로 나눕니다
test_re = test.copy()

test_re['year'] = test_re['timestamp'].apply(lambda x : int(x[0:4]))
test_re['month'] = test_re['timestamp'].apply(lambda x : int(x[5:7]))
test_re['day'] = test_re['timestamp'].apply(lambda x : int(x[8:10]))
test_re['Date'] = pd.to_datetime(test_re['timestamp'])
test_re['week'] = test_re['Date'].apply(lambda x: x.isocalendar()[1]) # 일요일 제거를 위함
test_re['day_name'] = test_re['Date'].dt.day_name()


# %%
test_re.head()

,ID,timestamp,item,corporation,location,year,month,day,Date,week,day_name
0,TG_A_J_20230304,2023-03-04,TG,A,J,2023,3,4,2023-03-04,9,Saturday
1,TG_A_J_20230305,2023-03-05,TG,A,J,2023,3,5,2023-03-05,9,Sunday
2,TG_A_J_20230306,2023-03-06,TG,A,J,2023,3,6,2023-03-06,10,Monday
3,TG_A_J_20230307,2023-03-07,TG,A,J,2023,3,7,2023-03-07,10,Tuesday
4,TG_A_J_20230308,2023-03-08,TG,A,J,2023,3,8,2023-03-08,10,Wednesday

In [17]:
# %%
from sklearn.preprocessing import LabelEncoder
train_x = train.drop(columns=['ID', 'timestamp', 'price(원/kg)','Date'])
train_y = train['price(원/kg)']
test_x = test_re.drop(columns=['ID', 'timestamp','Date'])
qual_col = ['item', 'corporation', 'location','day_name']

# train_x = pd.get_dummies(train_x, columns=qual_col, prefix=qual_col)
# test_x = pd.get_dummies(test_x, columns=qual_col, prefix=qual_col)

In [18]:
train_x = pd.concat([train_x, train_y], axis=1)

In [23]:
train_x.head()

  item corporation location  week   day_name  year  month  day  price(원/kg)
0   TG           A        J     1    Tuesday  2019      1    1          0.0
1   TG           A        J     1  Wednesday  2019      1    2          0.0
2   TG           A        J     1   Thursday  2019      1    3       1728.0
3   TG           A        J     1     Friday  2019      1    4       1408.0
4   TG           A        J     1   Saturday  2019      1    5       1250.0

In [20]:
test_x.head() #day_name 일치

  item corporation location  year  month  day  week   day_name
0   TG           A        J  2023      3    4     9   Saturday
1   TG           A        J  2023      3    5     9     Sunday
2   TG           A        J  2023      3    6    10     Monday
3   TG           A        J  2023      3    7    10    Tuesday
4   TG           A        J  2023      3    8    10  Wednesday

In [40]:
price

Empty DataFrame
Columns: [item, corporation, location, week, day_name, year, month, day, price(원/kg)]
Index: []

In [ ]:
# import pycaret regression and init setup
from pycaret.regression import *

predictions = []

items = train_x['item'].unique()
corporations = train_x['corporation'].unique()
locations = train_x['location'].unique()

for item in items:
    for corporation in corporations:
        for location in locations:
            price = train_x[(train_x['item'] == item) &
                  (train_x['corporation'] == corporation) &
                  (train_x['location'] == location) &
                  (train_x['day_name']!='Sunday')]

            if len(price) <= 0: continue

            price = price[price['price(원/kg)']!=0]
                
            IQR = (price.describe()['price(원/kg)']['75%'] - price.describe()['price(원/kg)']['25%'])*1.5
            lower_bound = price.describe()['price(원/kg)']['25%'] - IQR
            upper_bound = price.describe()['price(원/kg)']['75%'] + IQR

            price['price(원/kg)'] = np.log(price['price(원/kg)'])
            price['price(원/kg)'] = np.where((price['price(원/kg)'] > lower_bound) & (price['price(원/kg)'] < upper_bound), price['price(원/kg)'], 0)
                        
            s = setup(price, target = 'price(원/kg)', 
                    session_id = 123, 
                    fold = 10, 
                    normalize = True, 
                    normalize_method = 'minmax',
                    train_size=0.9)
            
            # Best models 선택 (예: 상위 3개 모델 선택)
            reg = create_model('rf')

            price_test = test_x[(test_x['item'] == item) &
                  (test_x['corporation'] == corporation) &
                  (test_x['location'] == location)]

            prediction = np.exp(predict_model(reg, data = pd.DataFrame(price_test))['prediction_label'].values)
            predictions.append(prediction)

In [39]:
tuned_reg = tune_model(reg, optimize = 'RMSE', fold=10, n_iter=20)
predictions = predict_model(tuned_reg, data = pd.DataFrame(test_x))

Fitting 10 folds for each of 20 candidates, totalling 200 fits

In [41]:
predictions

,item,corporation,location,year,month,day,week,day_name,prediction_label
0,TG,A,J,2023,3,4,9,Saturday,7.638168
1,TG,A,J,2023,3,5,9,Sunday,7.604160
2,TG,A,J,2023,3,6,10,Monday,7.483757
3,TG,A,J,2023,3,7,10,Tuesday,7.552543
4,TG,A,J,2023,3,8,10,Wednesday,7.629785
...,...,...,...,...,...,...,...,...,...
1087,RD,F,J,2023,3,27,13,Monday,7.455063
1088,RD,F,J,2023,3,28,13,Tuesday,6.988479
1089,RD,F,J,2023,3,29,13,Wednesday,7.406012
1090,RD,F,J,2023,3,30,13,Thursday,7.432659
1091,RD,F,J,2023,3,31,13,Friday,7.412438

In [ ]:
result = pd.concat([test_re, predictions['prediction_label']], axis = 1)

result['answer'] = result['prediction_label'].copy()

del result['timestamp']
del result['item']
del result['corporation']
del result['location']
del result['year']
del result['month']
del result['day']
del result['Date']
del result['week']
del result['day_name']
del result['prediction_label']

In [ ]:
for i in range(len(result)):
    if (i-1) % 7 == 0: # 1, 8, 15, 22
        result.iloc[i,-1] = 0

result.head(20)

In [ ]:
result.to_csv('result_hard_tuened.csv', index = False)

In [ ]:
result

In [ ]:
train_x.to_csv('./processed_data/train.csv')
test_x.to_csv('./processed_data/test.csv')