In [1]:
# %%
import pandas as pd
#import plotly.express as px
import matplotlib.pyplot as plt
import numpy as np
#import plotly.graph_objects as go
# 출력 제한 해제
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
pd.set_option('display.max_seq_items', None)
pd.options.display.max_colwidth = 100

import warnings
warnings.filterwarnings(action='ignore')

In [5]:
# %%
train = pd.read_csv('../data/train.csv')
test =  pd.read_csv('../data/test.csv')
trade = pd.read_csv('../data/international_trade.csv')

train.head()

,ID,timestamp,item,corporation,location,supply(kg),price(원/kg)
0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0
1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0

In [6]:
# %%
time = pd.to_datetime(train['timestamp'].copy())

train['Date'] = pd.to_datetime(train['timestamp'])
train['week'] = train['Date'].apply(lambda x: x.isocalendar()[1]) # 일요일 제거를 위함
train['day_name'] = train['Date'].dt.day_name()

train['year'] = train['timestamp'].apply(lambda x : int(x[0:4]))
train['month'] = train['timestamp'].apply(lambda x : int(x[5:7]))
train['day'] = train['timestamp'].apply(lambda x : int(x[8:10]))

In [7]:
# %%
import datetime
import holidays

# %%
#train = train[(train['supply(kg)'] != 0) & (train['supply(kg)'] != 0)] # 이거차이도 큼!!! 거의 rmse 1200에서 680으로 줄어듦. 근데 이건 validation에만이고 test는 이거하면 정반대로됨 ㅠ...

# %%
#시계열 특성을 학습에 반영하기 위해 timestamp를 월, 일, 시간으로 나눕니다
test_re = test.copy()

test_re['year'] = test_re['timestamp'].apply(lambda x : int(x[0:4]))
test_re['month'] = test_re['timestamp'].apply(lambda x : int(x[5:7]))
test_re['day'] = test_re['timestamp'].apply(lambda x : int(x[8:10]))
test_re['Date'] = pd.to_datetime(test_re['timestamp'])
test_re['week'] = test_re['Date'].apply(lambda x: x.isocalendar()[1]) # 일요일 제거를 위함
test_re['day_name'] = test_re['Date'].dt.day_name()


# %%
test_re.head()

,ID,timestamp,item,corporation,location,year,month,day,Date,week,day_name
0,TG_A_J_20230304,2023-03-04,TG,A,J,2023,3,4,2023-03-04,9,Saturday
1,TG_A_J_20230305,2023-03-05,TG,A,J,2023,3,5,2023-03-05,9,Sunday
2,TG_A_J_20230306,2023-03-06,TG,A,J,2023,3,6,2023-03-06,10,Monday
3,TG_A_J_20230307,2023-03-07,TG,A,J,2023,3,7,2023-03-07,10,Tuesday
4,TG_A_J_20230308,2023-03-08,TG,A,J,2023,3,8,2023-03-08,10,Wednesday

In [8]:
# %%
from sklearn.preprocessing import LabelEncoder
train_x = train.drop(columns=['ID', 'timestamp', 'supply(kg)', 'price(원/kg)','Date'])
train_y = train['price(원/kg)']
test_x = test_re.drop(columns=['ID', 'timestamp','Date'])
qual_col = ['item', 'corporation', 'location','day_name']

for i in qual_col:
    le = LabelEncoder()
    train_x[i]=le.fit_transform(train_x[i])
    test_x[i]=le.transform(test_x[i]) #test 데이터에 대해서 fit하는 것은 data leakage에 해당합니다

In [9]:
train_x = pd.concat([train_x, train_y], axis=1)

In [10]:
train_x.head()

   item  corporation  location  week  day_name  year  month  day  price(원/kg)
0     4            0         0     1         5  2019      1    1          0.0
1     4            0         0     1         6  2019      1    2          0.0
2     4            0         0     1         4  2019      1    3       1728.0
3     4            0         0     1         0  2019      1    4       1408.0
4     4            0         0     1         2  2019      1    5       1250.0

In [11]:
test_x.head() #day_name 일치

   item  corporation  location  year  month  day  week  day_name
0     4            0         0  2023      3    4     9         2
1     4            0         0  2023      3    5     9         3
2     4            0         0  2023      3    6    10         1
3     4            0         0  2023      3    7    10         5
4     4            0         0  2023      3    8    10         6

In [12]:
train_x.item.unique()

array([4, 2, 1, 3, 0])

In [13]:
before_num = 9999
l_train_info = []
l=0
for num in train_x.item:
    if before_num != num:
        before_num = num
        l_train_info.append(l)
        print(num)
    l+=1
l_train_info.append(l)

4
2
1
3
0
1
3

In [15]:
l_train_info

[0, 15230, 25891, 31983, 42644, 56351, 57874, 59397]

In [14]:
train_x.iloc[l_train_info[7]:l_train_info[8]]

IndexError: list index out of range

In [14]:
before_num = 9999
l_info = []
l = 0
for num in test_x.item:
    if before_num != num:
        before_num = num
        print(num)
        l_info.append(l)
        l = 0
    l+=1
l_info.append(l)

4
2
1
3
0
1
3

In [22]:
from pycaret.time_series import *

preds = []
for i in range(len(l_train_info)-1):
    # 각 반복에 대한 훈련 데이터 설정
    train_data = train_x.iloc[l_train_info[i]:l_train_info[i+1]]
    fh = l_info[i+1]

    # PyCaret 설정
    s = setup(train_data, target='price(원/kg)', session_id=41, fh=fh, fold=5)

    # 여러 모델 비교하여 최적의 모델 선택 et_cds_dt
    #best = compare_models()
    
    model = create_model('et_cds_dt')
    tuned_clf = tune_model(model, optimize = 'RMSE')
    # 예측 수행
    pred = predict_model(tuned_clf, fh=fh)
    preds.extend(pred['y_pred'])

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:  9.9min
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed: 11.6min finished

Initiated  . . . . . . . . . . . . . . . . . .                 20:56:42
Status     . . . . . . . . . . . . . . . . . .  Compiling Final Results
Estimator  . . . . . . . . . . . . . . . . . .      ExtraTreesRegressor

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:  5.8min
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:  6.5min finished

KeyboardInterrupt:

In [23]:
preds

[6722.9073,
 15.6954,
 6654.7933,
 6928.3413,
 5766.077,
 5653.21,
 5861.5922,
 4632.7222,
 51.8722,
 5882.8784,
 5300.6093,
 5661.6287,
 5408.9311,
 5732.2136,
 4992.9813,
 116.2086,
 5633.5946,
 5439.8167,
 5643.0919,
 5785.3035,
 5807.311,
 5002.0677,
 244.0716,
 5746.6303,
 5426.02,
 5212.0758,
 5671.8801,
 5879.7458,
 5048.2363,
 450.6733,
 5509.0371,
 5256.7283,
 5134.4766,
 5343.8024,
 5561.3918,
 4591.9293,
 853.5713,
 5391.3811,
 5190.5237,
 4784.0584,
 5204.3858,
 5530.4851,
 4883.8989,
 1243.3259,
 5362.6248,
 5196.3381,
 4940.9151,
 5268.5809,
 5576.7125,
 4963.1539,
 1458.4197,
 5267.9892,
 5245.154,
 5068.1315,
 5358.2496,
 5471.4353,
 4824.0659,
 1781.9608,
 5212.0928,
 5064.626,
 5005.56,
 5298.3473,
 5658.5703,
 5091.7702,
 2221.9837,
 5287.6169,
 5538.8513,
 5203.9984,
 5299.7994,
 5427.3268,
 3077.6431,
 2405.0197,
 5089.2703,
 4864.9332,
 4699.6013,
 5040.5503,
 5137.8601,
 4057.0664,
 2463.1225,
 5116.7433,
 5022.7728,
 4837.7325,
 5012.1889,
 5144.3323,
 4923.0525,
 2604.8647,
 5149.8643,
 5062.3931,
 4929.0777,
 5367.0279,
 5436.3836,
 5145.5692,
 2822.6475,
 5041.9205,
 5182.4764,
 4931.7156,
 5110.4636,
 5120.6718,
 5136.5693,
 3327.0986,
 4689.2679,
 4786.83,
 4356.7651,
 4459.8857,
 4234.5436,
 3300.9781,
 2649.6383,
 3299.8031,
 3982.2288,
 3833.8731,
 4318.2017,
 3543.4231,
 3155.3327,
 2364.9972,
 2478.6789,
 2801.8501,
 2681.7551,
 2847.6026,
 2719.0209,
 2436.857,
 2131.9379,
 2438.5566,
 2954.7102,
 2901.2662,
 3156.046,
 3255.0511,
 2619.3066,
 2008.7171,
 2327.3886,
 2644.5483,
 2377.7613,
 2543.7316,
 2520.3112,
 2208.1659,
 1650.9265,
 1972.3735,
 2179.0853,
 1928.0209,
 2175.4261,
 2080.0283,
 1774.1672,
 1266.2329,
 1632.9065,
 1746.8893,
 1403.2232,
 1648.5315,
 1676.7802,
 1300.4756,
 912.0932,
 1382.4986,
 1510.197,
 1298.2026,
 1513.7512,
 1462.5206,
 1183.5403,
 692.858,
 1429.5288,
 1489.0426,
 1227.2287,
 1477.1733,
 1411.2146,
 1177.0241,
 625.2694,
 1491.1077,
 1576.1365,
 1394.0254,
 1705.6489,
 1524.5664,
 1218.1974,
 591.3772,
 1516.685,
 1678.1508,
 1476.8175,
 1877.9316,
 1572.4658,
 1233.2213,
 609.8564,
 1533.5327,
 1628.3127,
 1421.0692,
 1886.0278,
 1522.8233,
 1254.6663,
 609.9792,
 1537.5561,
 1613.5493,
 1328.2783,
 1743.5936,
 1379.357,
 1126.6848,
 580.9996,
 1536.0036,
 1696.7056,
 1465.5571,
 1945.6696,
 1520.4462,
 1287.8422,
 596.1886,
 1569.8622,
 1746.9296,
 1474.7469,
 1838.1463,
 1505.6905,
 1199.172,
 576.8647,
 1565.4005,
 1839.789,
 1701.6741,
 2045.4609,
 1783.1988,
 1345.7965,
 686.2347,
 1497.4176,
 1799.5231,
 1634.7605,
 1974.9316,
 1655.7546,
 1292.1993,
 213.7945,
 1167.9248,
 1683.0087,
 1708.0474,
 2047.8122,
 1755.8915,
 1541.8832,
 246.8366,
 1894.7341,
 1894.9852,
 1747.7441,
 2044.8155,
 1802.8364,
 1654.2873,
 302.5635,
 1305.9871,
 1705.4914,
 1685.3497,
 2118.2168,
 1839.5539,
 1581.6421,
 324.2299,
 1453.091,
 1695.6448,
 1702.0964,
 2265.3388,
 2054.5601,
 1750.8626,
 432.4647,
 1318.0175,
 1616.804,
 1686.6103,
 2156.8255,
 1769.3828,
 1534.5488,
 352.3502,
 1600.7109,
 1625.091,
 1634.6239,
 2009.9281,
 1611.2359,
 1534.3557,
 310.5505,
 1648.1972,
 1793.8308,
 1705.5793,
 1959.7012,
 1560.5161,
 1660.2535,
 348.2539,
 1729.6535,
 1941.4597,
 1739.6976,
 2104.5004,
 1961.7571,
 1747.4235,
 420.6737,
 1790.9707,
 2112.3539,
 1886.6434,
 2291.9037,
 2130.999]

In [86]:
tuned_clf = tune_model(llar, optimize = 'RMSE')
# predictions = predict_model(tuned_clf, data = test_x)

Fitting 10 folds for each of 4 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 out of  40 | elapsed:    0.2s remaining:    0.1s
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:    0.3s finished

In [26]:
predictions = predict_model(llar, fh=fh)

In [93]:
preds

[3053.4527,
 3033.8032,
 3229.47,
 3314.3951,
 3075.088,
 3344.8296,
 3230.6479,
 2909.9569,
 3046.3071,
 3223.2303,
 3371.2762,
 3016.8858,
 3341.1264,
 3328.2931,
 3053.4527,
 3033.8032,
 3229.47,
 3314.3951,
 3075.088,
 3344.8296,
 3230.6479,
 2909.9569,
 3046.3071,
 3223.2303,
 3371.2762,
 3016.8858,
 3341.1264,
 3328.2931,
 3053.4527,
 3033.8032,
 3229.47,
 3314.3951,
 3075.088,
 3344.8296,
 3230.6479,
 2909.9569,
 3046.3071,
 3223.2303,
 3371.2762,
 3016.8858,
 3341.1264,
 3328.2931,
 3053.4527,
 3033.8032,
 3229.47,
 3314.3951,
 3075.088,
 3344.8296,
 3230.6479,
 2909.9569,
 3046.3071,
 3223.2303,
 3371.2762,
 3016.8858,
 3341.1264,
 3328.2931,
 3053.4527,
 3033.8032,
 3229.47,
 3314.3951,
 3075.088,
 3344.8296,
 3230.6479,
 2909.9569,
 3046.3071,
 3223.2303,
 3371.2762,
 3016.8858,
 3341.1264,
 3328.2931,
 3053.4527,
 3033.8032,
 3229.47,
 3314.3951,
 3075.088,
 3344.8296,
 3230.6479,
 2909.9569,
 3046.3071,
 3223.2303,
 3371.2762,
 3016.8858,
 3341.1264,
 3328.2931,
 3053.4527,
 3033.8032,
 3229.47,
 3314.3951,
 3075.088,
 3344.8296,
 3230.6479,
 2909.9569,
 3046.3071,
 3223.2303,
 3371.2762,
 3016.8858,
 3341.1264,
 3328.2931,
 3053.4527,
 3033.8032,
 3229.47,
 3314.3951,
 3075.088,
 3344.8296,
 3230.6479,
 2909.9569,
 3046.3071,
 3223.2303,
 3371.2762,
 3016.8858,
 3341.1264,
 3328.2931,
 3053.4527,
 3033.8032,
 3229.47,
 3314.3951,
 3075.088,
 3344.8296,
 3230.6479,
 2909.9569,
 3046.3071,
 3223.2303,
 3371.2762,
 3016.8858,
 3341.1264,
 3328.2931,
 3053.4527,
 3033.8032,
 3229.47,
 3314.3951,
 3075.088,
 3344.8296,
 3230.6479,
 2909.9569,
 3046.3071,
 3223.2303,
 3371.2762,
 3016.8858,
 3341.1264,
 3328.2931,
 3053.4527,
 3033.8032,
 3229.47,
 3314.3951,
 3075.088,
 3344.8296,
 3230.6479,
 2909.9569,
 3046.3071,
 3223.2303,
 3371.2762,
 3016.8858,
 3341.1264,
 3328.2931,
 3053.4527,
 3033.8032,
 3229.47,
 3314.3951,
 3075.088,
 3344.8296,
 3230.6479,
 2909.9569,
 3046.3071,
 3223.2303,
 3371.2762,
 3016.8858,
 3341.1264,
 3328.2931,
 3053.4527,
 3033.8032,
 3229.47,
 3314.3951,
 3075.088,
 3344.8296,
 3230.6479,
 2909.9569,
 3046.3071,
 3223.2303,
 3371.2762,
 3016.8858,
 3341.1264,
 3328.2931,
 3053.4527,
 3033.8032,
 3229.47,
 3314.3951,
 3075.088,
 3344.8296,
 3230.6479,
 2909.9569,
 3046.3071,
 3223.2303,
 3371.2762,
 3016.8858,
 3341.1264,
 3328.2931,
 3053.4527,
 3033.8032,
 3229.47,
 3314.3951,
 3075.088,
 3344.8296,
 3230.6479,
 2909.9569,
 3046.3071,
 3223.2303,
 3371.2762,
 3016.8858,
 3341.1264,
 3328.2931,
 3053.4527,
 3033.8032,
 3229.47,
 3314.3951,
 3075.088,
 3344.8296,
 3230.6479,
 2909.9569,
 3046.3071,
 3223.2303,
 3371.2762,
 3016.8858,
 3341.1264,
 3328.2931,
 3053.4527,
 3033.8032,
 3229.47,
 3314.3951,
 3075.088,
 3344.8296,
 3230.6479,
 2909.9569,
 3046.3071,
 3223.2303,
 3371.2762,
 3016.8858,
 3341.1264,
 3328.2931,
 3053.4527,
 3033.8032,
 3229.47,
 3314.3951,
 3075.088,
 3344.8296,
 3230.6479,
 2909.9569,
 3046.3071,
 3223.2303,
 3371.2762,
 3016.8858,
 3341.1264,
 3328.2931,
 3053.4527,
 3033.8032,
 3229.47,
 3314.3951,
 3075.088,
 3344.8296,
 3230.6479,
 2909.9569,
 3046.3071,
 3223.2303,
 3371.2762,
 3016.8858,
 3341.1264,
 3328.2931,
 3053.4527,
 3033.8032,
 3229.47,
 3314.3951,
 3075.088,
 3344.8296,
 3230.6479,
 2909.9569,
 3046.3071,
 3223.2303,
 3371.2762,
 3016.8858,
 3341.1264,
 3328.2931,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 130.6698,
 102.0714,
 139.0749,
 89.5703,
 118.5082,
 144.3637,
 148.2503,
 130.6698,
 102.0714,
 139.0749,
 89.5703,
 118.5082,
 144.3637,
 148.2503,
 130.6698,
 102.0714,
 139.0749,
 89.5703,
 118.5082,
 144.3637,
 148.2503,
 130.6698,
 102.0714,
 139.0749,
 89.5703,
 118.5082,
 144.3637,
 148.2503,
 130.6698,
 102.0714,
 139.0749,
 89.5703,
 118.5082,
 144.3637,
 148.2503,
 130.6698,
 102.0714,
 139.0749,
 89.5703,
 118.5082,
 144.3637,
 148.2503,
 130.6698,
 102.0714,
 139.0749,
 89.5703,
 118.5082,
 144.3637,
 148.2503,
 130.6698,
 102.0714,
 139.0749,
 89.5703,
 118.5082,
 144.3637,
 148.2503,
 130.6698,
 102.0714,
 139.0749,
 89.5703,
 118.5082,
 144.3637,
 148.2503,
 130.6698,
 102.0714,
 139.0749,
 89.5703,
 118.5082,
 144.3637,
 148.2503,
 130.6698,
 102.0714,
 139.0749,
 89.5703,
 118.5082,
 144.3637,
 148.2503,
 130.6698,
 102.0714,
 139.0749,
 89.5703,
 118.5082,
 144.3637,
 148.2503,
 130.6698,
 102.0714,
 139.0749,
 89.5703,
 118.5082,
 144.3637,
 148.2503,
 130.6698,
 102.0714,
 139.0749,
 89.5703,
 118.5082,
 144.3637,
 148.2503,
 130.6698,
 102.0714,
 139.0749,
 89.5703,
 118.5082,
 144.3637,
 148.2503,
 130.6698,
 102.0714,
 139.0749,
 89.5703,
 118.5082,
 144.3637,
 148.2503,
 182.0268,
 195.2535,
 187.8247,
 180.9264,
 143.6241,
 142.2435,
 214.2054,
 182.0268,
 195.2535,
 187.8247,
 180.9264,
 143.6241,
 142.2435,
 214.2054,
 182.0268,
 195.2535,
 187.8247,
 180.9264,
 143.6241,
 142.2435,
 214.2054,
 182.0268,
 195.2535,
 187.8247,
 180.9264,
 143.6241,
 142.2435,
 214.2054,
 182.0268,
 195.2535,
 187.8247,
 180.9264,
 143.6241,
 142.2435,
 214.2054,
 182.0268,
 195.2535,
 187.8247,
 180.9264,
 143.6241,
 142.2435,
 214.2054,
 182.0268,
 195.2535,
 187.8247,
 180.9264,
 143.6241,
 142.2435,
 214.2054,
 182.0268,
 195.2535,
 187.8247,
 180.9264,
 143.6241,
 142.2435,
 214.2054,
 182.0268,
 195.2535,
 187.8247,
 180.9264,
 143.6241,
 142.2435,
 214.2054,
 182.0268,
 195.2535,
 187.8247,
 180.9264,
 143.6241,
 142.2435,
 214.2054,
 182.0268,
 195.2535,
 187.8247,
 180.9264,
 143.6241,
 142.2435,
 214.2054,
 182.0268,
 195.2535,
 187.8247,
 180.9264,
 143.6241,
 142.2435,
 214.2054,
 182.0268,
 195.2535,
 187.8247,
 180.9264,
 143.6241,
 142.2435,
 214.2054,
 182.0268,
 195.2535,
 187.8247,
 180.9264,
 143.6241,
 142.2435,
 214.2054,
 182.0268,
 195.2535,
 187.8247,
 180.9264,
 143.6241,
 142.2435,
 214.2054,
 182.0268,
 195.2535,
 187.8247,
 180.9264,
 143.6241,
 142.2435,
 214.2054,
 182.0268,
 195.2535,
 187.8247,
 180.9264,
 143.6241,
 142.2435,
 214.2054,
 182.0268,
 195.2535,
 187.8247,
 180.9264,
 143.6241,
 142.2435,
 214.2054,
 182.0268,
 195.2535,
 187.8247,
 180.9264,
 143.6241,
 142.2435,
 214.2054,
 182.0268,
 195.2535,
 187.8247,
 180.9264,
 143.6241,
 142.2435,
 214.2054,
 182.0268,
 195.2535,
 187.8247,
 180.9264,
 143.6241,
 142.2435,
 214.2054,
 182.0268,
 195.2535,
 187.8247,
 180.9264,
 143.6241,
 142.2435,
 214.2054,
 182.0268,
 195.2535,
 187.8247,
 180.9264,
 143.6241,
 142.2435,
 214.2054,
 182.0268,
 195.2535,
 187.8247,
 180.9264,
 143.6241,
 142.2435,
 214.2054,
 182.0268,
 195.2535,
 187.8247,
 180.9264,
 143.6241,
 142.2435,
 214.2054,
 182.0268,
 195.2535,
 187.8247,
 180.9264,
 143.6241,
 142.2435,
 214.2054,
 182.0268,
 195.2535,
 187.8247,
 180.9264,
 143.6241,
 142.2435,
 214.2054,
 182.0268,
 195.2535,
 187.8247,
 180.9264,
 143.6241,
 142.2435,
 214.2054,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 949.3094,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 949.3094,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 949.3094,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 949.3094,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 949.3094,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 949.3094,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 949.3094,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 949.3094,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 949.3094,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 949.3094,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 949.3094,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 949.3094,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 949.3094,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 949.3094,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 949.3094,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 949.3094,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 949.3094,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 949.3094,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 949.3094,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 949.3094,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 949.3094,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 949.3094,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 949.3094,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 949.3094,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 949.3094,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 949.3094,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 949.3094,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 949.3094,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 949.3094,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 949.3094,
 920.6171,
 773.898,
 1036.1608,
 1047.4662,
 706.2456,
 944.8132,
 ...]

In [22]:
tuned_clf = tune_model(llar, optimize = 'RMSE')
predictions = predict_model(llar, data = test_x)

SyntaxError: invalid syntax (3477283352.py, line 1)

In [1]:
result = pd.concat([test_re, predictions['prediction_label']], axis = 1)

result['answer'] = result['prediction_label'].copy()

del result['timestamp']
del result['item']
del result['corporation']
del result['location']
del result['year']
del result['month']
del result['day']
del result['Date']
del result['week']
del result['day_name']
del result['prediction_label']

NameError: name 'pd' is not defined

In [14]:
for i in range(len(result)):
    if (i-1) % 7 == 0: # 1, 8, 15, 22
        result.iloc[i,-1] = 0

result.head(20)

                 ID   answer
0   TG_A_J_20230304  3875.56
1   TG_A_J_20230305     0.00
2   TG_A_J_20230306  3454.97
3   TG_A_J_20230307  3271.77
4   TG_A_J_20230308  3452.73
5   TG_A_J_20230309  3904.98
6   TG_A_J_20230310  3639.50
7   TG_A_J_20230311  3878.27
8   TG_A_J_20230312     0.00
9   TG_A_J_20230313  3699.92
10  TG_A_J_20230314  3494.18
11  TG_A_J_20230315  2989.28
12  TG_A_J_20230316  4258.72
13  TG_A_J_20230317  5850.54
14  TG_A_J_20230318  4864.17
15  TG_A_J_20230319     0.00
16  TG_A_J_20230320  4640.12
17  TG_A_J_20230321  5485.57
18  TG_A_J_20230322  5352.44
19  TG_A_J_20230323  4103.08

In [15]:
result.to_csv('result1_tuned.csv', index = False)