In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from pycaret.regression import *
import numpy as np
from sklearn.preprocessing import LabelEncoder
from prophet import Prophet

import warnings
import holidays

warnings.filterwarnings(action='ignore')

In [2]:
# path = f'./processed_data/train_merge.csv'
# df = pd.read_csv(path)
# df = df[df['item']=='BC']
# df['holiday'] = [kr_holidays[i] if i in list(kr_holidays.keys()) else 'None' for i in df['timestamp']]
# df = pd.get_dummies(df, columns=qual_col, prefix=qual_col)
# # df[~df["Date"].isin(kr_holidays)]


# name_lst = df.corr()['price(원/kg)'].sort_values().keys().to_list()
# value_lst = df.corr()['price(원/kg)'].sort_values().values

# print([a for a, b in zip(name_lst, value_lst) if abs(b)>0.15 ])

In [3]:
# 필요 정보
# item_lst : item 리스트 항목
# qual_col : one-hot-encoder 변환이 필요한 항목

item_lst = ['TG', 'CR', 'CB', 'RD', 'BC']
qual_col = ['corporation', 'location', 'holiday']
columns_dict_train = {
    'TG' : list(set(['Date', 'year', 'month', 'week', 'day', 'supply(kg)_y', '수출 금액', '무역수지', '전체 거래량', '수출 중량', 'corporation','price(원/kg)'])),
    'CR' : list(set(['Date', 'year', 'month', 'week', 'day', 'location',   'corporation', 'location', 'supply(kg)_y','price(원/kg)'])),
    'CB' : list(set(['Date', 'year', 'month', 'week', 'day', 'location', '무역수지', '수출 금액', '수출 중량', 'corporation', 'location', 'supply(kg)_y','price(원/kg)'])),
    'RD' : list(set(['Date', 'year', 'month', 'week', 'day', 'corporation', 'location', 'corporation', 'location', 'supply(kg)_y','price(원/kg)'])),
    'BC' : list(set(['Date', 'year', 'month', 'week', 'day', 'location', 'corporation', 'corporation', 'corporation', 'location', 'supply(kg)_y','price(원/kg)']))
}

columns_dict_test= {
    'TG' : list(set(['Date', 'year', 'month', 'week', 'day', 'supply(kg)', '수출 금액', '무역수지', '전체 거래량', '수출 중량', 'corporation'])),
    'CR' : list(set(['Date', 'year', 'month', 'week', 'day', 'location',   'corporation', 'location', 'supply(kg)'])),
    'CB' : list(set(['Date', 'year', 'month', 'week', 'day', 'location', '무역수지', '수출 금액', '수출 중량', 'corporation', 'location', 'supply(kg)'])),
    'RD' : list(set(['Date', 'year', 'month', 'week', 'day', 'corporation', 'location', 'corporation', 'location', 'supply(kg)'])),
    'BC' : list(set(['Date', 'year', 'month', 'week', 'day', 'location', 'corporation', 'corporation', 'corporation', 'location', 'supply(kg)']))
}

# item 선택
item = item_lst[0]
path = f'./processed_data/{item}_train_merge.csv'

# 한국 2019~2023 공휴일 정보
kr_holidays = holidays.KR(years=[2019,2020,2021,2022,2023])
#kr_holidays = [str(i) for i in kr_holidays]
kr_holidays = {str(i):kr_holidays[i] for i in kr_holidays}

In [4]:
predictions = []

test = pd.read_csv('./processed_data/test_merge.csv')

for i in range(5):
    item = item_lst[i]
    path = f'./processed_data/{item}_train_merge.csv'

    train = pd.read_csv(path)
    test_df = test[test['item']==item]
    
    # 데이터 전처리 프로세스
    #train = train[~train["Date"].isin(kr_holidays)] # Holyday 제거
    train['holiday'] = [kr_holidays[i] if i in list(kr_holidays.keys()) else 'None' for i in train['timestamp']]
    test_df['holiday'] = [kr_holidays[i] if i in list(kr_holidays.keys()) else 'None' for i in test_df['timestamp']]
    
    for l in qual_col:
        le = LabelEncoder()
        train[l]=le.fit_transform(train[l])
        test_df[l]=le.transform(test_df[l]) #test 데이터에 대해서 fit하는 것은 data leakage에 해당합니다

    train = pd.get_dummies(train, columns=['day_name'], prefix=['day_name'])
    test_df = pd.get_dummies(test_df, columns=['day_name'], prefix=['day_name'])

    train = train[columns_dict_train[item]]
    train = train.rename(columns={'supply(kg)_y':'supply(kg)'})
    # train = train.rename(columns={'Date':'ds'})
    # train = train.rename(columns={'price(원/kg)':'y'})
    test_df = test_df[columns_dict_test[item]]

    # m = Prophet(seasonality_mode='additive')
    # m.fit(train)
    
    # test_df.rename(columns={'Date':'ds'},inplace=True)
    # forecast = m.predict(test_df)
    # print(forecast)
    # predictions.extend(forecast)

    s = setup(train, target = 'price(원/kg)', 
        session_id = 123, 
        fold = 10, 
        normalize = True, 
        normalize_method = 'minmax',
        train_size=0.7)

    reg = create_model('rf')
    #reg = compare_models()
    tuned_reg = tune_model(reg, optimize = 'RMSE', fold=10, n_iter=50)
    prediction = predict_model(tuned_reg, data = test_df)
    predictions.extend(prediction['prediction_label'])

Fitting 10 folds for each of 50 candidates, totalling 500 fits

Fitting 10 folds for each of 50 candidates, totalling 500 fits

Fitting 10 folds for each of 50 candidates, totalling 500 fits

Fitting 10 folds for each of 50 candidates, totalling 500 fits

Fitting 10 folds for each of 50 candidates, totalling 500 fits

In [5]:
result = pd.read_csv('./data/test.csv')
result['answer'] = predictions

del result['timestamp']
del result['item']
del result['corporation']
del result['location']

for i in range(len(result)):
    if (i-1) % 7 == 0: # 1, 8, 15, 22
        result.iloc[i,-1] = 0

In [9]:
result.to_csv("reselt.csv", index=False)

In [7]:
train

,month,week,supply(kg),year,day,Date,price(원/kg),corporation,location
0,1,1.0,695871.0,2019,1.0,2019-01-01,0.0,0,0
1,1,1.0,695871.0,2019,2.0,2019-01-02,0.0,0,0
2,1,1.0,695871.0,2019,3.0,2019-01-03,2559.0,0,0
3,1,1.0,695871.0,2019,4.0,2019-01-04,2425.0,0,0
4,1,1.0,695871.0,2019,5.0,2019-01-05,2097.0,0,0
...,...,...,...,...,...,...,...,...,...
13702,3,9.0,61472.0,2023,2.0,2023-03-02,3144.0,4,0
13703,3,9.0,61472.0,2023,3.0,2023-03-03,3045.0,4,0
13704,3,9.0,61472.0,2023,1.0,2023-03-01,3816.0,4,1
13705,3,9.0,61472.0,2023,2.0,2023-03-02,3321.0,4,1
13706,3,9.0,61472.0,2023,3.0,2023-03-03,2939.0,4,1

In [8]:
test_df

      month  supply(kg)  week  year   day        Date  corporation  location
840       3     61472.0   9.0  2023   4.0  2023-03-04            0         0
841       3     61472.0   9.0  2023   5.0  2023-03-05            0         0
842       3     61472.0  10.0  2023   6.0  2023-03-06            0         0
843       3     61472.0  10.0  2023   7.0  2023-03-07            0         0
844       3     61472.0  10.0  2023   8.0  2023-03-08            0         0
...     ...         ...   ...   ...   ...         ...          ...       ...
1087      3     61472.0  13.0  2023  27.0  2023-03-27            4         1
1088      3     61472.0  13.0  2023  28.0  2023-03-28            4         1
1089      3     61472.0  13.0  2023  29.0  2023-03-29            4         1
1090      3     61472.0  13.0  2023  30.0  2023-03-30            4         1
1091      3     61472.0  13.0  2023  31.0  2023-03-31            4         1

[252 rows x 8 columns]