In [1]:
# %%
import pandas as pd
#import plotly.express as px
import matplotlib.pyplot as plt
import numpy as np
#import plotly.graph_objects as go
# 출력 제한 해제
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
pd.set_option('display.max_seq_items', None)
pd.options.display.max_colwidth = 100

import warnings
warnings.filterwarnings(action='ignore')

In [2]:
# %%
train = pd.read_csv('./processed_data/log_train.csv')
test =  pd.read_csv('./processed_data/log_test.csv')
trade = pd.read_csv('./data/international_trade.csv')

train.head()

,index,ID,timestamp,item,corporation,location,supply(kg),price(원/kg),holiday,Date,week,day_name,log_and_filtered_price
0,0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0,New Year's Day,2019-01-01,1,Tuesday,0.000000
1,1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0,None,2019-01-02,1,Wednesday,0.000000
2,2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0,None,2019-01-03,1,Thursday,7.454720
3,3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0,None,2019-01-04,1,Friday,7.249926
4,4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0,None,2019-01-05,1,Saturday,7.130899

In [3]:
# %%
time = pd.to_datetime(train['timestamp'].copy())

train['Date'] = pd.to_datetime(train['timestamp'])
train['week'] = train['Date'].apply(lambda x: x.isocalendar()[1]) # 일요일 제거를 위함
train['day_name'] = train['Date'].dt.day_name()

train['year'] = train['timestamp'].apply(lambda x : int(x[0:4]))
train['month'] = train['timestamp'].apply(lambda x : int(x[5:7]))
train['day'] = train['timestamp'].apply(lambda x : int(x[8:10]))

In [4]:
# %%
import datetime
import holidays

# %%
#train = train[(train['supply(kg)'] != 0) & (train['supply(kg)'] != 0)] # 이거차이도 큼!!! 거의 rmse 1200에서 680으로 줄어듦. 근데 이건 validation에만이고 test는 이거하면 정반대로됨 ㅠ...

# %%
#시계열 특성을 학습에 반영하기 위해 timestamp를 월, 일, 시간으로 나눕니다
test_re = test.copy()

test_re['year'] = test_re['timestamp'].apply(lambda x : int(x[0:4]))
test_re['month'] = test_re['timestamp'].apply(lambda x : int(x[5:7]))
test_re['day'] = test_re['timestamp'].apply(lambda x : int(x[8:10]))
test_re['Date'] = pd.to_datetime(test_re['timestamp'])
test_re['week'] = test_re['Date'].apply(lambda x: x.isocalendar()[1]) # 일요일 제거를 위함
test_re['day_name'] = test_re['Date'].dt.day_name()


# %%
test_re.head()

,ID,timestamp,item,corporation,location,holiday,Date,week,day_name,year,month,day
0,TG_A_J_20230304,2023-03-04,TG,A,J,None,2023-03-04,9,Saturday,2023,3,4
1,TG_A_J_20230305,2023-03-05,TG,A,J,None,2023-03-05,9,Sunday,2023,3,5
2,TG_A_J_20230306,2023-03-06,TG,A,J,None,2023-03-06,10,Monday,2023,3,6
3,TG_A_J_20230307,2023-03-07,TG,A,J,None,2023-03-07,10,Tuesday,2023,3,7
4,TG_A_J_20230308,2023-03-08,TG,A,J,None,2023-03-08,10,Wednesday,2023,3,8

In [17]:
# %%
from sklearn.preprocessing import LabelEncoder
train_x = train.drop(columns=['ID', 'timestamp', 'supply(kg)', 'price(원/kg)','Date'])
train_y = train['price(원/kg)']
test_x = test_re.drop(columns=['ID', 'timestamp','Date'])
qual_col = ['corporation', 'location','day_name']


for i in ['holiday']:
    le = LabelEncoder()
    train_x[i]=le.fit_transform(train_x[i])
    test_x[i]=le.transform(test_x[i]) #test 데이터에 대해서 fit하는 것은 data leakage에 해당합니다

# train_x = pd.get_dummies(train_x, columns=qual_col, prefix=qual_col)
# test_x = pd.get_dummies(test_x, columns=qual_col, prefix=qual_col)

In [18]:
display(train_x.head(5))
display(test_x.head(5))

,index,item,corporation,location,holiday,week,day_name,log_and_filtered_price,year,month,day
0,0,TG,A,J,19,1,Tuesday,0.000000,2019,1,1
1,1,TG,A,J,20,1,Wednesday,0.000000,2019,1,2
2,2,TG,A,J,20,1,Thursday,7.454720,2019,1,3
3,3,TG,A,J,20,1,Friday,7.249926,2019,1,4
4,4,TG,A,J,20,1,Saturday,7.130899,2019,1,5

  item corporation location  holiday  week   day_name  year  month  day
0   TG           A        J       20     9   Saturday  2023      3    4
1   TG           A        J       20     9     Sunday  2023      3    5
2   TG           A        J       20    10     Monday  2023      3    6
3   TG           A        J       20    10    Tuesday  2023      3    7
4   TG           A        J       20    10  Wednesday  2023      3    8

In [41]:
# import pycaret regression and init setup
from pycaret.regression import *

predicts = []

for item in train_x.item.unique():
    print(item)
    item_train_x = train_x[train_x['item']==item]
    item_test_x = test_x[test_x['item']==item]
    print(item_test_x.shape)
    item_train_x = item_train_x.drop(columns=['item'])
    item_test_x = item_test_x.drop(columns=['item'])

    item_train_x = item_train_x.drop(columns = ['index'])

    item_train_x = pd.get_dummies(item_train_x, columns=qual_col, prefix=qual_col)
    item_test_x = pd.get_dummies(item_test_x, columns=qual_col, prefix=qual_col)
    
    s = setup(item_train_x, target = 'log_and_filtered_price', 
            session_id = 123, 
            fold = 10, 
            normalize = True, 
            normalize_method = 'minmax',
            train_size=0.9)
    
    # Best models 선택 (예: 상위 3개 모델 선택)
    reg = create_model('rf')
    
    tuned_reg = tune_model(reg, optimize = 'RMSE', fold=10, n_iter=20)
    predictions = predict_model(tuned_reg, data = pd.DataFrame(item_test_x))
    predicts.extend(list(np.exp(predictions['prediction_label'])))

TG
(280, 9)

Fitting 10 folds for each of 20 candidates, totalling 200 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

CR
(196, 9)

Fitting 10 folds for each of 20 candidates, totalling 200 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

CB
(140, 9)

Fitting 10 folds for each of 20 candidates, totalling 200 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

RD
(224, 9)

Fitting 10 folds for each of 20 candidates, totalling 200 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

BC
(252, 9)

Fitting 10 folds for each of 20 candidates, totalling 200 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [42]:
len(predicts)

1092

In [43]:
# final_model = finalize_model(blended)

In [44]:
result = test_re.copy()
result['answer'] = predicts

del result['timestamp']
del result['item']
del result['corporation']
del result['location']
del result['year']
del result['month']
del result['day']
del result['Date']
del result['week']
del result['day_name']
del result['holiday']

In [45]:
for i in range(len(result)):
    if (i-1) % 7 == 0: # 1, 8, 15, 22
        result.iloc[i,-1] = 0

result.head(20)

                 ID       answer
0   TG_A_J_20230304  1705.414556
1   TG_A_J_20230305     0.000000
2   TG_A_J_20230306  1755.872710
3   TG_A_J_20230307  2976.816413
4   TG_A_J_20230308  2979.262105
5   TG_A_J_20230309  2767.511015
6   TG_A_J_20230310  2570.168100
7   TG_A_J_20230311  1930.667856
8   TG_A_J_20230312     0.000000
9   TG_A_J_20230313  3087.503950
10  TG_A_J_20230314  2303.980560
11  TG_A_J_20230315  3304.429100
12  TG_A_J_20230316  3246.376354
13  TG_A_J_20230317  4879.535637
14  TG_A_J_20230318  3919.847658
15  TG_A_J_20230319     0.000000
16  TG_A_J_20230320  3891.968208
17  TG_A_J_20230321  4642.734841
18  TG_A_J_20230322  4254.089457
19  TG_A_J_20230323  4211.547321

In [46]:
result.to_csv('result_hard_tuened.csv', index = False)

In [47]:
result

                   ID       answer
0     TG_A_J_20230304  1705.414556
1     TG_A_J_20230305     0.000000
2     TG_A_J_20230306  1755.872710
3     TG_A_J_20230307  2976.816413
4     TG_A_J_20230308  2979.262105
...               ...          ...
1087  RD_F_J_20230327  2684.202266
1088  RD_F_J_20230328   281.151479
1089  RD_F_J_20230329   610.587714
1090  RD_F_J_20230330   757.853311
1091  RD_F_J_20230331  2318.597766

[1092 rows x 2 columns]

In [ ]:
train_x.to_csv('./processed_data/train.csv')
test_x.to_csv('./processed_data/test.csv')